body {
    background-color: rgb(33, 39, 61);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.space {
    width: 10px;
    height: 80px;
    display: 0;
}

img {
    width: 120px;
}

p {
    line-height: 2px;
}

.title {
    font-size: 25px;
    line-height: 0px;
}
.description {
    font-size: 15px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 30vh;
}
.contained {
    cursor: pointer;
    background-color: rgb(63, 73, 93);
    height: 200px;
    width: 180px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: rgb(160, 160, 255);
}